<div class="banner">
  <h2 class="bannerText">ted++;</h2>
  <div class="navBar">
    <ul class="localBar">
      <li class="navList"><a class="navButton" href="\index.html">HOME</a></li>
      <li class="navList"><a class="navButton" href="aboutme.html">ABOUT ME</a></li>
      <li class="navList"><a class="navButton" href="portfolio.html">PORTFOLIO</a></li>
      <li class="navList"><a class="navButton" href="/_pages/resume/resume.html">RESUME</a></li>
      <li class="navList"><a class="navButton" href="/_pages/blog/blog.html">BLOG</a></li>
    </ul><!-- end localBar-->

    <div class="dropdown">
      <button onclick="showDropdown()" class="dropbtn">NAVIGATION</button>
      <div id="myDropdown" class="dropdown-content">
        <a class="dropListBtn" href="index.html">Home</a>
        <a class="dropListBtn" href="aboutme.html">About Me</a>
        <a class="dropListBtn" href="portfolio.html">Portfolio</a>
        <a class="dropListBtn" href="/_pages/resume/resume.html">Resume</a>
        <a class="dropListBtn" href="/_pages/blog/blog.html">Blog</a>
      </div><!--End dropdownList-->
    </div><!--End dropdown-->

    <ul class="socialBar">
      <li class="navList">
        <a href="https://www.facebook.com/ted.callahan"><img id="socialButton" src="/images/FB-f-Logo__blue_29.png"/>
        </a>
      </li>
      <li class="navList">
        <a href="https://github.com/CCallahanIV"><img id="socialButton" src="/images/GitHub-Mark-Light-32px.png"/>
        </a>
      </li>
      <li class="navList">
        <a href="https://www.linkedin.com/in/ted-callahan-550a259b"><img id="socialButton" src="/images/In-2C-28px-R.png"/>
        </a>
      </li>
    </ul> <!--/end #socialbar-->
  </div><!-- /end #navBar -->
</div><!-- /end banner-->
